<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Omdena Project</title>
</head>
<style>
    .tables {
        max-width: 700px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
    }
</style>

<body>
    <h2 class="text-center">Cat College Timetable </h2>
    <div class="tables">
        <table class="table-bordered table-striped text-center w-100">
            <tr>
                <th class="pt-3 pb-3 text-center ">Monday </th>
                <th class="pt-3 pb-3 text-center ">Tuesday</th>
                <th class="pt-3 pb-3 text-center ">Wednesday</th>
                <th class="pt-3 pb-3 text-center ">Thursday</th>
                <th class="pt-3 pb-3 text-center ">Friday</th>
                <th class="pt-3 pb-3 text-center ">Saturday</th>

            </tr>
            <tr>
                <td class="pl-3 pt-3 pb-3 pr-3">10am -- 2pm </td>
                <td class="pl-3 pt-3 pb-3 pr-3">4pm -- </td>
                <td class="pl-3 pt-3 pb-3 pr-3">4pm -----</td>
                <td class="pl-3 pt-3 pb-3 pr-3">Not Available</td>
                <td class="pl-3 pt-3 pb-3 pr-3">1pm ---</td>
                <td class="pl-3 pt-3 pb-3 pr-3">Available</td>
            </tr>
        </table>
    </div>





    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootstrap.js"></script>
</body>

</html>